html{
    position: relative;
}
.top{
    background-color: #ffffff;
    height: 60px;
    width: 1400px;
    position: absolute;
    top: 0;
    left: 0;
}
.top1{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: "华文彩云", serif;
    font-size: 30px;
}
.top2{
    position: absolute;
    top: 0;
    left: 300px;
    padding: 20px;
    font-family: "华文彩云", serif;
    font-size: 30px;
}
.top3{
    position: absolute;
    top: 0;
    left: 600px;
    padding: 20px;
    font-family: "华文彩云", serif;
    font-size: 30px;
}
.top4{
    osition: absolute;
    top: 0;
    left: 900px;
    padding: 20px;
    font-family: "华文彩云", serif;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: #008eff;
}
a:active{
    text-decoration: line-through;
    color: #008eff;
}
.top-right{
    position: absolute;
    top: 0;
    right: 30px;
    padding: 20px;
    font-family: "华文彩云", serif;
    font-size: 30px;
}
.top img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    position: absolute;
    top: 13px;
    right: 0
}
.main{
    position: absolute;
    top: 60px;
    left: 0;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 1473px;
    height: 700px;
}
.main-left h1{
    position: absolute;
    left: 550px;
    top: 280px;
    color: #517693;
    font-size: 40px;
    font-weight: bold;
    font-family: "华文彩云", serif;
}
.main-left h3{
    position: absolute;
    left: 550px;
    top: 380px;
    color: #517693;
    font-size: 28px;
    font-weight: bold;
    font-family: "华文彩云", serif;
}
.center-left{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    height: 850px;
    border: 3px solid white;
    border-radius: 20px;
    background-color:white;
    opacity: 0.8;
}
.center-left img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    top: 5px;
    left: 75px;
}
.center-left{
    position: absolute;
    top: 110px;
    left: 40px;
    text-align: center;
    font-family: "华文彩云", serif;
    font-size: 17px;
}
.span ul{
    position:absolute;
    top: 200px;
    left: 0;
    width: 250px;
    height: 600px;
}
.span li{
    line-height: 80px;
    list-style-type: none;
}
.pane{
    width: 255px;
    text-align: center;
    font-family: "华文彩云", serif;
    font-size: 30px;
}
.pane:hover{
    background-color: white;
}
.center iframe{
    border-radius: 20px;
}
.time{
    position: absolute;
    left:40px;
    bottom: 15px;
    color: #517693;
    font-size: 25px;
    font-weight: bold;
    font-family: "华文彩云", serif;
}
.bottom
{
    position: absolute;
    top: 650px;
    width: 1400px;
    height: 85px;
}